.main_section{
  background: black;
}

.bg-gradient-to-r {
  background-image: linear-gradient(to right, #6b21a8, #3b82f6);
}

.bg-clip-text {
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}