.mega-menu {
  position: absolute;
  top: 100%;
  left: 0;
  width: 100vw;
  /* background-color: #fff; */
  z-index: 1000;
  padding: 2rem;
  display: none;
  /* box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1); */
  transition: all 0.3s ease-in-out;
}

.nav-item:hover .mega-menu {
  display: block;
}

.mega-menu h6 {
  font-weight: bold;
  margin-bottom: 10px;
}

.mega-menu ul {
  list-style: none;
  padding: 0;
}

.mega-menu ul li {
  padding: 5px 0;
  cursor: pointer;
}

.mega-menu ul li:hover {
  text-decoration: underline;
}
